table[mat-table] {
  width : 100%;

  .mat-row {
    cursor : pointer;

    &:hover {
      background : #e5ecf2;
    }

    .profile-picture {
      width         : 38px;
      height        : 38px;
      border-radius : 50%;
      overflow      : hidden;

      img {
        width  : 100%;
        height : 100%;
      }
    }

    .mat-column-avatar {
      width : 60px;
    }
  }

}


